/** {*/
/*    outline: 1px solid red;*/
/*}*/

.wd-component-outline {
    border-radius: 12px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #c0c0bc;
    background-color: #FEEEEF;
    height: 800px;
}

.button {
    border: 0;
    border-radius: 12px;
    padding: 8px;
    color: white;
    background-color: #FCB4B8;
}

.wd-button-active {
    font-weight: bold;
    background-color: #FA8B91;
}

.wd-button-width {
    width: 80%;
}

.wd-text-size {
    font-size: 18px;
}

.wd-text-size-small {
    font-size: 15px;
}

.wd-logo {
    width: 50%;
    min-width: 25px;
    border-radius: 10%;
}

.wd-sitename {
    font-weight: bold;
    font-size: 20px;
}
