/** {*/
/*    outline: 1px solid red;*/
/*}*/

.wd-profile-background {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F3F1EB;
    height: 750px;
}

.wd-avatar {
    width: 90%;
    margin-right: 3px;
    height: 150px;
    border-radius: 20px;
}

.wd-profile-text {
    font-size: 20px;
    color: black;
}

.wd-edit-button {
    font-size: 15px;
    color: black;
    background-color: white;
    border: none;
}

.wd-bio {
    font-size: 18px;
    color: black;
    background-color: white;
    height: 300px;
}

.wd-text-sm {
    font-size: 15px;
}

.wd-profile-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

