/** {*/
/*    outline: 1px solid red;*/
/*}*/

.wd-profile-background {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F3F1EB;
    height: 750px;
}

.wd-edit-background {
    border-radius: 20px;
    background-color: #F3F1EB;
    height: 800px;
}

.wd-profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.wd-profile-text {
    font-size: 18px;
    color: black;
}

.wd-edit-button {
    font-size: 15px;
    color: black;
    background-color: white;
    border: none;
}

.wd-edit-input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: normal;
    color: black;
    border-radius: 10px;
    border-color: #c0c0bc;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.wd-bio {
    font-size: 18px;
    color: black;
    background-color: white;
    height: 300px;
}

.wd-text-xs {
    font-size: 12px;
    color: black;
}

.wd-text-sm {
    font-size: 15px;
    color: black;
}

.wd-text-md {
    font-size: 16px;
    color: black;
}


.wd-profile-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.wd-icon-large {
    font-size: 30px;
}

.wd-image-round {
    width:60px;
    height:60px;
    border-radius: 20%;
    object-fit: cover;
}

.wd-my-recipe-content {
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0bc;
    height: 250px;
    background-color:#F3F1EB;
}

.wd-inner-content {
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0bc;
    height: 170px;
    background-color:white;
}

.wd-my-recipe-image {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}

.wd-no-decor {
    text-decoration: none;
    color: black;
}

/*.wd-filter {*/
/*    filter: opacity(30%);*/
/*}*/

/*.wd-camera {*/
/*    font-size: 50px;*/
/*    background: transparent;*/
/*    right: 60%;*/
/*}*/

