.wd-recipe-content {
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0bc;
    background-color:#F3F1EB;
}

.wd-no-decor {
    text-decoration: none;
    color: black;
}

.wd-recipe-image {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}